.main-box {
    grid-area: main;
    justify-items: center;
    padding: 3rem 1rem 2rem 0;
    row-gap: 4rem;
}

@media only screen and (max-width: 77.5em) {
    .main-box {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 49em) {
    .productList-temp {
        grid-template-areas: 
            "navbar navbar"
            "main main"
        ;
    }

    .main-box {
        padding: 3rem 8px 6rem;
    }
}

@media only screen and (max-width: 33.75em) {
    .main-box {
        grid-template-columns: 1fr;
    }
} 