.rating-box{
    font-size: 1rem;
    width: max-content;
    padding: 4px 8px;
    font-weight: 600;
    background:var(--lighter-green-color);
    border-radius: 4px;
}

.rating-value {
    margin-top: 4px;
}

.star-img {
    height: 20px;
}