.cart-main {
    grid-template-columns: 1fr 0.1fr 0.5fr;
    width: fit-content;
    margin: 10rem auto 4rem; 
}

.cart-heading {
    background: var(--white-color);
    padding: 1rem;
    border-radius: 4px;
}

.line {
    width: 1px;
    height: 100%;
    background: var(--light-secondary-color);
}

@media only screen and (max-width: 45em) {
    .cart-main {
        grid-template-columns: 1fr;
    }

    .price-detail-section {
        width: 100%;
    }
}

@media only screen and (max-width: 30em) {
    .cart-item {
        width: 30rem;
    }
}