.shop-cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-div {
    margin-top: 5rem;
    gap: 8rem;
    color: var(--secondary-color);
}

.cover-div {
    position:relative;
}

.cover-img {
    height: 100vh;
}

.cover-text-box {
    position: absolute;
    top: 25%;
    left: 17%;
    color: var(--white-color);
}

.cover-heading {
    color: var(--primary-color);
    text-shadow: 3px 3px 4px var(--light-gray-color);
}

.cover-text {
    font-size: 2rem; 
    width: 60%;
}

.new-section {
    color: var(--gray-color);
}

.new-card-div {
    width: 80%;
}

.new-div-box {
    max-width: 20rem;
    height: 20rem;
    border-radius: 10px;
    box-shadow: 0 0 6px 4px var(--light-gray-color);
    color: var(--lighter-yellow-color);
    font-weight: 600;
    transition: all .2s ease-in-out; 
}

.new-div-img {
    border-radius: 10px;
    height: 100%;
}

.text-overlay {
    position: absolute;
    bottom: 2rem;
} 

.new-div-box:hover {
    transform: scale(1.1);
}

.category-item-box {
    width: 80%;
    gap: 4rem;
}

.category-items {
    text-align: center;
    grid-template-rows: 2fr 0.2fr;
    font-weight: 600; 
    gap: 0;
    font-size: 20px;
    color: var(--secondary-color);
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 1px 10px var(--light-gray-color);
}

.category-items:hover {
    box-shadow: 0 0 16px 3px var(--light-gray-color);
}

.category-images {
    border-radius: 10px 10px 0 0;
    height: 20rem;
    width: 25rem;
}

.brands-img-div {
    width: 15rem;
    transition: all .2s ease-out;
}

.brands-img-div:hover {
    transform: scale(1.2);
}

.interest-category-div {
    width: 15rem;
    transition: all .2s ease-out;
}

.interest-category-div:hover {
    transform: scale(1.1)
}


.footer-box {
    margin-top: 4rem; 
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    background: var(--primary-dark-color);
    padding: 4rem;
    color: var(--whitesmoke-color);
}

.social-icon {
    text-shadow: 2px 2px 4px var(--light-gray-color);
}

.social-icon:hover {
    transform: translateY(8px);
}

  
@media only screen and (max-width: 54em) {
    .cover-text-box {
        left: 15%;
    }

    .category-item-box {
        grid-template-columns: 1fr 1fr;
    }
}


@media only screen and (max-width: 34em) {
    .cover-text-box {
        align-items: center;
        text-align: center;
        width: fit-content;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .category-item-box {
        grid-template-columns: 1fr;
    }

    .cover-text {
        align-items: center;
    }
    
}
