.productDetails-card {
    max-width: 52rem;
    width: 100%;
    margin: 8rem 0 2rem;
    padding: 1rem;
    background: var(--white-color);
    border-radius: 4px;
}

.green-sm-text {
    color: var(--dark-green-color);
    font-size: 1.1rem;
}

.productDetail-desc {
    font-size: 1.5rem;
}

.price-org {
    font-size: 1.2rem;
}

.availabelity-div {
    font-size: 1.1rem;
    color: var(--gray-color);
}

.detail-section-badge {
    top: 0;
    left: 0;
    padding: 4px 1rem;
}

.availabelity-icons {
    color: var(--gray-color);
}

.main-detail {
    border-bottom: 1px solid var(--light-gray-color);
}

@media only screen and (max-width: 43em) {
    .productDetails-card {
        display: flex;
        flex-direction: column;
        width: 60%;
        gap: 1rem;
    }

    .product-img {
        width: 20rem; 
        height:20rem;
    }
}